
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>


        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
            font-family: arial;
        }


        #btn {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

        a {
            text-decoration: none;
            font-size: 16px;
            color: black;
        }

            button:hover, a:hover {
                opacity: 0.7;
            }

        body {
            background-attachment: fixed;
        }

        a {
            text-decoration: none;
        }

        nav {
            font-family: monospace;
        }


        ul li ul {
            background: #eaeaea;
            visibility: visible;
            opacity: 0;
            min-width: 5rem;
            position: absolute;
            transition: all 0.5s ease;
            margin-top: 1rem;
            left: 0;
            display: none;
        }

            ul li:hover > ul,
            ul li ul:hover {
                visibility: visible;
                opacity: 1;
                display: block;
            }


            ul li ul li {
                clear: both;
                width: 100%;
            }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" data-spy="afix">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
                @{
                    byte[] img = Moments.Controllers.HomeController.image;
                    string imgSrc;
                    if (img != null)
                    {
                        var base64 = Convert.ToBase64String(img);
                        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    }
                    else
                    {
                        imgSrc = null;
                    }
                }
                <img src="@imgSrc" class="img-center" height="50" width="50" />              @Html.ActionLink("Moments", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "UserMainPage", "User")</li>
                    <li>@Html.ActionLink("Notifications", "showNotifications", "Notifications")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li><a>Hi, @Session["firstName"]</a></li>

                    <li>@Html.ActionLink("Logout", "Logout", "User")</li>
                </ul>
            </div>
        </div>
    </div>


    <ul class="nav nav-tabs container">
        <li class="@ViewData["publicActive"]">@Html.ActionLink("Feeds", "PublicPhoto", "Moment")</li>
        <li class="@ViewData["momentsActive"]">@Html.ActionLink("My Moments", "UserMoments", "User")</li>
        <li class="@ViewData["profileActive"]">@Html.ActionLink("Profile", "MyProfile", "User")</li>
        <li class="@ViewData["friendsActive"]">@Html.ActionLink("My Friends", "MyFriends", "User")</li>

        @if (Session["Admin"].Equals("True"))
        {
            <li>
                <a href="#">Admin</a>
                <ul class="dropdown">
                    <li>@Html.ActionLink("Create Group Chart", "Statistics", "Admin")</li>
                    <li>@Html.ActionLink("Upload Photo Chart", "Statistics1", "Admin")</li>
                    <li>@Html.ActionLink("Admins list", "adminsList", "Admin")</li>
                    <li>@Html.ActionLink("Users list", "usersList", "Admin")</li>
                    <li>@Html.ActionLink("Change default photo", "defaultPhoto", "Admin")</li>
                    <li>@Html.ActionLink("Send Message to users", "MessageView", "Admin")</li>
                    <li>@Html.ActionLink("Change logo and background", "photoChange", "Admin")</li>
                </ul>
            </li>
        }

        <li>
            <form method="post" action="searchByUsrName">
                <input style="margin-top:10px" type="text" name="text" placeholder="Search Users..."> <button class="btn btn-default" type="submit" name="Search">Search</button>
            </form>
        </li>
    </ul>
    <br />

    <div class="container body-content">
        @RenderBody()
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

