@model IEnumerable<Moments.Models.userMoments>

@{
    ViewBag.Title = "UserMoments";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}

<head>
    <style>
        .mom {
            width: 100%; /* Try setting this to 400px or something */
            display: table;
            border: 1px solid #444444;
        }

        .child {
            display: table-cell;
        }

        .childinner {
            margin-left: 5px;
            /* Decorative .. */
            min-height: 15px;
        }

        .child:first-child .childinner {
            margin-left: 0;
        }
    </style>

</head>
<form method="post" action="searchMoment">
        <input style="margin-top:10px" type="text" name="text" placeholder="Search Moments...">
        <button class="btn btn-default" type="submit" name="Search">Search</button>
</form>
<br />
@Html.ActionLink("Show All Groups", "ShowAllGroups", "User", new { @class = "btn btn-default btn-md" })
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
@Html.ActionLink("Create Moment", "CreateGroup", "User", new { @class = "btn btn-default btn-md" })



<br />

<br />
<table class="table">
    <tr>
        <th>
            Icon
        </th>


        <th>
            Moment Name
        </th>
        <th>
           Role
        </th>
        <th>
            Settings
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div class="thumbnail">
                    @{
                        var base64 = Convert.ToBase64String(item.image);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    }
                    <img id="@item.mid" src="@imgSrc" alt="None" style="width:50px; height:50px;" />


                </div>
            </td>


            <td>
                <form method="post" action="MomentView">
                    <button class="btn btn-block" type="submit">@Moments.Controllers.MomentController.getMomentName(item.mid.ToString())</button>
                    <input name="mid" value="@item.mid" type="hidden" />
                </form>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.uType)
            </td>
            <td>

                @if (item.uType == "Admin")
                {
                @Html.ActionLink("Delete Group", "ExitGroup", "User", new { id = item.id, mid1 = item.mid }, new { @class = "btn btn-default btn-md" })
                @Html.ActionLink("View All Group Users", "View_All_Group_Members", "User", new { mid1 = item.mid }, new { @class = "btn btn-default btn-md" })
                @Html.ActionLink("Edit Group Name", "GroupEditName", "User", new { mid2 = item.mid }, new { @class = "btn btn-default btn-md" })
                @Html.ActionLink("Edit Groub Icon", "IconEditName", "User", new { mid2 = item.mid }, new { @class = "btn btn-default btn-md" })
                @Html.ActionLink("Groub Privacy", "PrivacyEdit", "User", new { mid2 = item.mid }, new { @class = "btn btn-default btn-md" })

                }
                else
                {
                @Html.ActionLink("Exit Group", "ExitGroup", "User", new { id = item.id, mid1 = item.mid }, new { @class = "btn btn-default btn-md" })
                }
                

            </td>
        </tr>
                                        }

</table>