@model IEnumerable<Moments.Models.userMoments>

@{
    ViewBag.Title = "UserMoments";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}


    <form method="post" action="searchMoment">
        <input style="margin-top:10px" type="text" name="text" placeholder="Search Moments..."> <button class="btn btn-default" type="submit" name="Search">Search</button>
    </form>

@Html.ActionLink("Create Moment", "CreateGroup", "User", new { @class = "btn btn-default btn-md" })

<br /><br />
<table class="table">
    <tr>

        <th>
            Moment Id
        </th>
        <th>
            Role
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.ActionLink(item.mid.ToString(), "MomentView", "Moment", new { id = item.mid },null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.uType)
            </td>
            <td>
                @if (item.uType == "Admin")
                {
                    @Html.ActionLink("Delete Group", "ExitGroup", "User", new { id = item.mid }, new { @class = "btn btn-default btn-md" })
                }
                else
                {
                    @Html.ActionLink("Exit Group", "ExitGroup", "User", new { id = item.mid }, new { @class = "btn btn-default btn-md" })
                }

            </td>
            
        </tr>
    }

</table>
