@model IEnumerable<Moments.Models.Profile>

@{
    ViewBag.Title = "View_All_Group_Members";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}

<div class="row">

    @foreach (var item in Model)
    {
        <div class="card col-sm-6" align="left">
            @{
                var base64 = Convert.ToBase64String(item.image);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            }
            <img src="@imgSrc" alt="John" style="width:100%">
            <h1>@item.username</h1>
    
            <p class="title">@item.biography</p>
            <p></p>
            <div style="margin: 24px 0;">
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
            </div>
            @Html.ActionLink("Delete From Group", "DeleteFriend", "User", new { username = item.username }, new { @class = "btn btn-default btn-md" })
        </div>

    }
</div>
<br /><br /><center>@TempData["CurrentMessage"]</center>

