@model IEnumerable<Moments.Models.Profile>

@{
    ViewBag.Title = "searchByUsrName";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}

<h2>Search Results</h2>

<div class="row">
@foreach (var item in Model)
{
    if (!item.username.Equals("testImage") && !item.username.Equals(Session["CurrentUsername"].ToString()))
    {
    <div class="card col-sm-6" align="left">
        @{
            var base64 = Convert.ToBase64String(item.image);
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        }
        <img src="@imgSrc" alt="John" style="width:100%">
        <h1>@item.username</h1>
        <p class="title">@item.biography</p>
        <p></p>
        @if (!Moments.Controllers.UserController.isFriend(item.username))
        {
            @Html.ActionLink("Add friend", "AddFriend", "User", new { id = item.username }, new { @class = "btn btn-default btn-md" })

        }
        else
        {

            <form method="post" action="RedirectToProfile">
                <button class="btn btn-default" type="submit">View Profile</button>
                <input hidden value="@item.username" name="usr" />
            </form>

        }
    </div>
                        }
                    }

   </div>

